<!-- app/views/users/new.html.erb -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header">
          <h1 class="card-title">ユーザー登録</h1>
        </div>
        <div class="card-body">
          <%= form_with model: @user, local: true, html: { class: "needs-validation", novalidate: "" } do |form| %>
            <div class="mb-3">
              <%= form.label :name, class: 'form-label' %>
              <%= form.text_field :name, class: 'form-control' %>
            </div>

            <div class="mb-3">
              <%= form.label :email, class: 'form-label' %>
              <%= form.email_field :email, class: 'form-control' %>
            </div>

            <div class="mb-3">
              <%= form.label :password, class: 'form-label' %>
              <%= form.password_field :password, class: 'form-control' %>
            </div>

            <div class="mb-3">
              <%= form.label :password_confirmation, class: 'form-label' %>
              <%= form.password_field :password_confirmation, class: 'form-control' %>
            </div>

            <%= form.submit "登録", class: 'btn btn-success' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<ul class="menu-list">
  <li class="menu-item"><%= link_to 'ホームに戻る', root_path %></li>
  <li class="menu-item"><%= link_to 'アイテム登録', new_item_master_path %></li>
  <%= link_to 'ユーザー一覧・削除', users_path %>
</ul>


