<%= form_with(url: select_user_items_path, method: :post, local: true, html: {class: "form-group"}) do |form| %>
  <%= form.label :user_id, "ユーザー選択:", class: "form-label" %>
  <%= form.collection_select :user_id, User.all, :id, :name, {include_blank: true}, {class: "form-control"} %>
<% end %>

<%= form_with(url: select_user_item_masters_path, method: :post, local: true, html: {class: "form-group"}) do |form| %>
  <%= form.label :user_id, "ItemMaster 選択:", class: "form-label" %>
  <%= form.collection_select :user_id, ItemMaster.all, :id, :name, {include_blank: true}, {class: "form-control"} %>
  <%= form.label :quantity, "個数:", class: "form-label mt-2" %>
  <%= form.number_field :quantity, in: 1..100, step: 1, class: "form-control" %>

  <%= form.submit "登録", class: "btn btn-success mt-2" %>
<% end %>

<ul class="list-group mt-3">
  <% @items.each do |item| %>
    <li class="list-group-item"><%= item.name %>: <%= item.description %></li>
  <% end %>
</ul>
<%= link_to 'ホームに戻る', root_path, class: 'btn btn-primary mt-3' %>
