<%= form_with model: @item, local: true do |form| %>
  <h1 class="card-title">アイテム所持登録</h1>
  </div>
  <%= form.label :user_id, "ユーザー選択:", class: "form-label" %>
  <%= form.collection_select :user_id, @users, :id, :name, {include_blank: true}, {class: "form-control"} %>

  <%= form.label :item_master_id, "ItemMaster 選択:", class: "form-label mt-2" %>
  <%= form.collection_select :item_master_id, @item_masters, :id, :name, {include_blank: true}, {class: "form-control"} %>

  <%= form.label :quantity, "個数:", class: "form-label mt-2" %>
  <%= form.number_field :quantity, in: 1..1000, step: 1, class: "form-control" %>

  <%= form.submit "登録", class: "btn btn-success mt-2" %>
<% end %>
</ul>
<ul class="menu-list">
　<li class="menu-item"><%= link_to 'ホームに戻る', root_path %></li>
  <li class="menu-item"><%= link_to 'アイテム一覧', items_path %></li>
</ul>
