<h1>アイテム登録</h1>

<%= form_with(model: Item.new, local: true) do |form| %>
  <div>
    <%= form.label :title, "タイトル" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, "説明" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :user_id, "ユーザー" %>
    <%= form.collection_select :user_id, User.all, :id, :name, prompt: "選択してください" %>
  </div>

  <div>
    <%= form.submit "登録" %>
  </div>
<% end %>
